node_modules
package-lock.json
.DS_Store
.env
.config
lib/shard/db/blockbyhash/000003.log
lib/shard/db/blockbyhash/CURRENT
lib/shard/db/blockbyhash/LOCK
lib/shard/db/blockbyhash/LOG
lib/shard/db/blockbyhash/MANIFEST-000002
lib/shard/db/blockbyid/000003.log
lib/shard/db/blockbyid/CURRENT
lib/shard/db/blockbyid/LOCK
lib/shard/db/blockbyid/LOG
lib/shard/db/blockbyid/MANIFEST-000002
SyncToy_c027df95-648a-40f4-8b92-43a892103c88.dat
example_shard_1.json
example_shard_1_genesis.json
.env
.env
lib/shard/db/blockbyhash/000011.log
lib/shard/db/blockbyid/000011.log
db/blockbyhash/MANIFEST-000002
db/blockbyid/CURRENT
db/blockbyid/LOG
db/blockbyid/MANIFEST-000002
db/blockbyid/LOCK
db/blockbyhash/LOG
db/blockbyhash/LOCK
db/blockbyhash/000003.log
db/blockbyhash/CURRENT
db/blockbyid/000003.log
db/blockbyid/MANIFEST-000097
db/blockbyid/000159.ldb
*.ldb
*.log
*.old
db/blockbyhash/MANIFEST-000025
*.old
*.old
db/wallets/MANIFEST-000026
